<ul>
  <li class="title"><%= title %></li>
  <li><a href="#">サンプルメニューサンプルメニュー</a></li>
  <li><a href="#">サンプルメニュー</a></li>
  <li><a href="#">サンプルメニュー</a></li>
  <li><a href="#">サンプルメニュー</a></li>
</ul>
<ul>
  <li class="title"><%= title2 %></li>
  <li><a href="#">サンプルメニューサンプルメニュー</a></li>
  <li><a href="#">サンプルメニュー</a></li>
  <li><a href="#">サンプルメニュー</a></li>
  <li><a href="#">サンプルメニュー</a></li>
</ul>
<ul>
  <li class="title"><%= title3 %></li>
  <li><a href="#">サンプルメニューサンプルメニュー</a></li>
  <li><a href="#">サンプルメニュー</a></li>
  <li><a href="#">サンプルメニュー</a></li>
</ul>
<ul>
  <li class="title"><%= title4 %></li>
  <li>
    <a href="#"
      >サンプルメニューサンプルメニューサンプルメニューサンプルメニュー</a
    >
  </li>
  <li><a href="#">サンプルメニュー</a></li>
</ul>
