<div id="footer-contents">
  <div class="left">
    <h3>
      <img src="images/logo2.png" alt="東京横浜サンプル医院" class="wl" />
    </h3>
    <p>
      所在地 〒266-0031千葉市緑区おゆみ野3-31-3<br />
      電話：043-291-8622<br />
      受付時間：9:00~12:00/16:00~19:30<br />
      ※土曜午後は16:00~19:00、日曜・祝日午後は16:00~18:00
    </p>

    <ul class="icons">
      <li>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-line"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>

    <h3>診療時間</h3>
    <table class="ta2">
      <tr>
        <th>&nbsp;</th>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
        <th>日</th>
      </tr>
      <tr>
        <td>午前</td>
        <td>○</td>
        <td>○</td>
        <td>○</td>
        <td>○</td>
        <td>○</td>
        <td>○</td>
        <td>ー</td>
      </tr>
      <tr>
        <td>午後</td>
        <td>○</td>
        <td>○</td>
        <td>○</td>
        <td>○</td>
        <td>○</td>
        <td>ー</td>
        <td>ー</td>
      </tr>
    </table>
    <p class="mini">午前診療受付　8:30〜12:30　午後診療受付　2:30〜6:30</p>
  </div>
  <!--/.left-->

  <div class="right">
    <h3>アクセス</h3>
    <!-- <p>
        <a href="https://template-party.com/file/pickup_googlemap.html"
          >GoogleMapの地図を変更する方法はマニュアルをご覧下さい。</a
        >
      </p> -->
    <p>
      所在地 〒266-0031千葉市緑区おゆみ野3-31-3<br />
      最寄駅 鎌取駅より徒歩10分<br />
      駐車場 15台完備
    </p>
    <div class="iframe-box">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3245.765497817895!2d140.1734857!3d35.5594933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60229a04c89b9a29%3A0x3ab70f95b815c7a6!2z44CSMjY2LTAwMzEg5Y2D6JGJ55yM5Y2D6JGJ5biC57eR5Yy644GK44KG44G_6YeO77yT5LiB55uu77yT77yR4oiS77yT!5e0!3m2!1sja!2sjp!4v1734007877531!5m2!1sja!2sjp"
        frameborder="0"
        style="border: 0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <!--/.right-->
</div>
